:root {
  --bg: #17183B;
  --main-txt: #FFF4E9;
  --logo: rgb(150, 255, 174);
  --hover: #4edfff;
  --link: rgb(213, 198, 255);
  --bt-shadow: 0px 0px 5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--main-txt);
}