* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-text-color: rgb(117, 229, 192);
  --bg-color: rgb(40, 43, 117)
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
}

.App {
  height: 100vh;
  color: rgb(99, 99, 99);
  background-color: var(--bg-color);
}