
.linkShortner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: calc(100% - 67px); */
}

.linkShortner h2{
    text-align: center;
    margin: 100px 0 var(--qr-mg-bt) 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--qr-mg-bt);
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 40px;
    border: 1px solid var(--link);
    position: relative;
    border-radius: var(--bd-radius);
    letter-spacing: 0.8px;
    margin-bottom: var(--qr-mg-bt);
}

.container input {
    cursor: pointer;
    color: var(--main-txt);
    padding: 0 10px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    z-index: 100;
}

.container input:focus+label,
.container input:valid+label {
    background-color: var(--bg);
    top: -8px;
}

.input_container input:valid,
.input_container input:focus {
    outline: none;
    border: 1px solid green;
}

.container input:hover {
    cursor: pointer;
}

.container label {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
}

.linkShortner button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: var(--main-txt);
    background-color: var(--hover);
    border: none;
    border-radius: var(--bd-radius);
    padding: 10px;
    transition: 0.3s all ease;
}

.linkShortner button:hover {
    color: var(--hover);
    background-color: var(--main-txt);
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 700px;
    margin-bottom: var(--qr-mg-bt);
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    background-color: var(--card);
    border-radius: var(--bd-radius);
    margin-bottom: 10px;
}

.link_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
}

.error,.success {
    color: red;
    padding: 10px;
    font-size: 0.7rem;
    font-weight: bold;
}

.success {
    color: green;
}

@media (max-width: 700px) {

    .linkShortner h2 {
        margin: 50px 0 var(--qr-mg-bt) 0;
    }

    .container {
        width: 84vw;
    }

    .result {
        width: 84vw;
    }
    
    .container label {
        font-size: 0.8rem;
    }
}